.item {
  min-width: 34rem;
  max-width: 80rem;
  margin: 0 auto 1.4rem auto;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.banner {
  width: 30rem;
  height: 100%;
}

.content {
  padding: 1rem 2rem;
  flex: 1;
}
.title {
  font-size: 2.4rem;
}
.date {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
}
.date > svg {
  margin: 0.3rem 0.8rem 0 0.2rem;
}
.address {
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  white-space: pre-line;
}
.address > address {
  margin-left: 0.5rem;
}
.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
}

@media screen and (max-width: 40rem) {
  .item {
    flex-direction: column;
  }
  .banner {
    width: 100%;
    height: 22rem;
  }
  .actions {
    justify-content: center;
  }
}
