* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(209, 245, 245);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.t-center {
  text-align: center;
}
.mt-20 {
  margin-top: 1rem;
}
.mt-10 {
  margin-top: 1rem;
}
.font-size-14 {
  font-size: 1.4rem;
}
.font-size-16 {
  font-size: 1.6rem;
}
.font-size-18 {
  font-size: 1.8rem;
}
.font-size-20 {
  font-size: 2rem;
}
